<!DOCTYPE html>
<html>
<head>
	<title></title>
	<title>Foodinspect</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body class="bg-info">
<nav class="navbar navbar-default">
					<div class="container-fluid">
					  <div class="navbar-header">
						<a class="navbar-brand" href="/">{{title}}
						</a>
					  </div>
					  <ul class="nav navbar-nav">
						<li class="active"><a href="/">Accueil</a></li>
						<li><a href="/ajout">Ajouter Recettes</a></li>
						<li><a href="/liste">liste des recettes</a></li>
					  </ul>
					</div>
				  </nav>

<div class="container">

	<div class="row">
						<div class="timeLine">

								  <div div class="col-lg-12 item wow rotateInUpRight  done" data-wow-offset="400" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: rotateInUpRight;">	

								  				<div style="text-align: center; ">
								  					<strong><h1>WELCOME TO FOOD REGISTRE</h1></strong>

								  				</div>
								  				<br>
								  				<br>

								  				<div >	

								  						<img style="border-radius: 10px" src="images/fondpdej.jpg">


								  				</div>

								  </div>

						</div>

	  </div>

</div>

</body>
</html>